@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Advert>


@{
    ViewBag.Title = "AllAdvert";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>İlan Sayfası</h1>
                </div>
            </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    @(((DateTime)item.AdvertDate).ToString("dd-MMM-yyyy"))
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            <img src="@item.ImageFiles[0].ImagePath" alt="" class="img-circle img-fluid">
                                        </div>
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.Price.ToString("c")</b></h2>
                                            <p class="text-muted text-sm"><b>Hakkında: </b> Hakkında </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Mail: </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments">Detayları Gör</i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
    </div>

</body>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllAdvert", new { page }), new PagedListRenderOptions
{
LiElementClasses = new List<string>
{ "page-link" }
})
