@model EntityLayer.Concrete.ImageFile

@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h2>Aracınız için görsel yükleyiniz</h2>

@using (Html.BeginForm("UploadImage", "UserPanelAdvert", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    <input type="hidden" name="BrandID" class="form-control" value="@ViewBag.id" />
    <br />
    <br />
    <div class="col-md-10">
        @Html.EditorFor(x => x.ImagePath, new { htmlAttributes = new { @class = "form-control", type = "file", multiple = "true" } })
    </div>
    <br />
    <button class="btn btn-info">Kaydet</button>
</div>
}
