@using EntityLayer.Concrete
@model List<Brand>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@Html.Action("AddBrandPartial", "AdminBrand")
<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>Marka Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Model Listesi</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.BrandName</td>
            <td><a href="/AdminBrand/DeleteBrand/@item.BrandID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminBrand/EditBrand/@item.BrandID" class="btn btn-warning">Güncelle</a></td>
            <td ><a href = "/AdminModel/ModelByBrand/@item.BrandID" class="btn btn-primary">Model Listesi</a></td>
        </tr>
    }
</table>