<button class="btn btn-warning" data-toggle="modal" data-target="#Modal2">
    Güncelle
</button>

@model EntityLayer.Concrete.Serial

<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Seri Güncelle</h2>
            </div>
            <form method="post" action="/AdminSerial/EditSerial/">
                <div class="modal-body">
                    <label>Model ID</label>
                    <input type="text" name="ModelID" class="form-control" value="@Model.ModelID" />
                    <br />
                    <label>Seri ID</label>
                    <input type="text" name="SerialID" class="form-control" value="@Model.SerialID" />
                    <br />
                    <label>Seri Adı</label>
                    <input type="text" name="SerialName" class="form-control" value="@Model.SerialName" />
                    <br />
                    <button class="btn btn-info">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>




