@using EntityLayer.Concrete
@model List<City>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@Html.Action("AddCityPartial", "AdminCity")
<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>İl Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>İlçe Listesi</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.CityName</td>
            <td><a href="/AdminCity/DeleteCity/@item.CityID" class="btn btn-danger">Sil</a></td>
            <td>@Html.Action("EditCityPartial", "AdminCity", new { id = @item.CityID })</td>
            <td><a href="/AdminDistrict/DistrictByCity/@item.CityID" class="btn btn-primary">İlçe Listesi</a></td>
        </tr>
    }
</table>