@using EntityLayer.Concrete
@model List<User>

@{
    ViewBag.Title = "PassiveUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pasif Kullanıcılar Sayfası</h1>
                </div>
            </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">

                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.UserName @item.UserSurName</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Mail: @item.UserMail</li>
                                            </ul>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Phone: @item.UserPhoneNumber</li>
                                            </ul>
                                        </div>
                                        <div class="col-4 text-center">
                                            <img src=@item.UserImage alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="/AdminAdvert/Index" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments">Kullanıcı İlanları</i>
                                        </a>
                                        <a href="/AdminUser/DoActive/@item.UserID" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Aktif Yap
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
    </div>

</body>
